[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = leetcode
[access "refs/*"]
	owner = group user/Chunli Gu (guchunli)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Chunli Gu (guchunli)
	label-Verified = -1..+1 group user/Chunli Gu (guchunli)
	push = group user/Chunli Gu (guchunli)
	read = group user/Chunli Gu (guchunli)
	rebase = group user/Chunli Gu (guchunli)
	removeReviewer = group user/Chunli Gu (guchunli)
	submit = group user/Chunli Gu (guchunli)
[access "refs/heads/*"]
	create = group user/Chunli Gu (guchunli)
	push = +force group user/Chunli Gu (guchunli)
	pushMerge = group user/Chunli Gu (guchunli)
	read = group user/Chunli Gu (guchunli)
[access "refs/tags/*"]
	push = group user/Chunli Gu (guchunli)
	push = +force group user/Chunli Gu (guchunli)
